<div class="col">
        <div class="row">
            <div class="col-md-4">
                <i style="font-size: 80px" class="fas fa-image"></i>

                    <img id="blah" src="#" alt="your image" />
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="file" name="slider_image_file[]" class="form-control-file slider_file slider_image_file" id="slider_image_file" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="slider_image_url">Url</label>
                    <input type="text" class="form-control slider_image_url" name="slider_image_url" id="slider_image_url" aria-describedby="emailHelp">
                    <small id="slider_image_url_error" class="form-text text-muted"></small>
                </div>

                <div class="form-group">
                    <label for="slider_textarea">Example textarea</label>
                    <textarea class="form-control slider_textarea" name="slider_textarea" id="slider_textarea" rows="3">
                    </textarea>
                </div>
            </div>
        </div>
    </div>
