<div class="row mt-3">
    <div class="col">
        <div class="slider_builder">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <select multiple class="form-control user_multiple_select">
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Avatar</label>
                            </div>

                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Description</label>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="card-footer"></div>

            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function() {
        $('.user_multiple_select').multiSelect({ keepOrder: true });
    });
</script>


