{% extends 'base.html.twig' %}

{% block title %}Hello BaseController!{% endblock %}

{% block body %}

    {% for builder_elements in content %}
        {% for key,element_values in builder_elements %}
            {% if key == 'slider' %}
                {% include 'content_builder/update/slider.html.twig' %}
            {% endif %}

            {% if key == 'text' %}

                <div>here</div>
                {% include 'content_builder/update/text.html.twig' %}
            {% endif %}
        {% endfor %}
    {% endfor %}

{% endblock %}
